.outline {
    /* border: 3px solid slategray; */
    padding: 5%;
    margin: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.imagecontainer {
    min-width: 0px;
    flex: 0 1 30%;
    text-align: center;
    margin: 3%;
}

.signincontainer {
    min-width: 0px;
    margin: 3%;
}

img.image {
    width: 100%;
    border-radius: 5%;
}

input[type=text], input[type=email], input[type=number], input[type=password], select, textarea{
    width: 100%;
    padding: 20px 20px;
    margin: 10px 0 20px 0;
    font-size: large;
    display: inline-block;
    border: 2px solid grey;
    box-sizing: border-box;
}


label {
    font-size: x-large;
}

.buttoncontainer {
    display: flex;
    width: 100%;
    justify-content: center;
    text-decoration: none;
}

button {
    font-size: larger;
    background-color: goldenrod;
    color: white;
    padding: 18px 18px;
    margin: 10px 0;
    border: 0px;
    cursor: pointer;
    width: 100%;            
}

button:hover {
    transform: scale(110%);
    transition: all 200ms ease-in-out 0s;
}

hr.divider {
    display: flex;
    justify-self: center;
    justify-content: center;

    border-top: 3px solid grey;
    width: 95%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.registerbutton {
    background-color: cornflowerblue;
}

.grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
    column-gap: 10px;
}
.grid2 { grid-template-columns: auto 16%; }
.grid3, grid4 { grid-template-columns: 20% auto; }

.behavioral_tracking {
    display: flex;
    flex-direction: column;
}
